/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(108, 60, 164, 1) 100%);
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 2.5vmin;

    @media (max-width: 950px) {
        font-size: 3.6vmin;
    }
}